<div class="page page-table" data-ng-controller="WmsApiReturnDataMapListCtrl">
    <section class="panel panel-default table-dynamic">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-th"></span>
            <span data-ng-i18next="wms:ui.heading.apiReturnDataMap"></span>
            <a href="#/wms/api_list?apiId={{api.id}}" class="ti-arrow-left pull-right"
               data-ng-if="api"></a>
        </div>

        <div class="panel-body">
            <div class="callout callout-info">
                {{api.resourceName}}【{{api.action}}】
            </div>
            <div class="form-group text-center" data-ng-if="apiReturnDataMapList.length == 0">
                <button class="btn btn-primary" data-ng-click="insertNew(0, 2, 1);"
                        data-ng-i18next="global:ui.button.create"></button>
            </div>

            <div data-ng-repeat="item in apiReturnDataMapList track by $index">
                <div class="form-group row">
                    <div class="col-xs-4">
                        <span data-ng-class="'col-xs-offset-'+item.depth"></span>
                        <a href="javascript:" class="ti-menu"
                           data-ng-click="switchCollapse(item)"></a>
                        <span>{{item.varKey}}</span>
                    </div>
                    <div class="col-xs-2">
                        <span data-ng-if="item.required == true || item.required == '1'"
                              data-ng-i18next="wms:ui.label.required"></span>
                    </div>
                    <div class="col-xs-6">
                        <span>{{item.dataType}}</span>
                    </div>
                </div>
                <div class="well" data-ng-show="item.inEditing">
                    <div data-ng-if="!item.id" data-ng-include="'views/wms/partial/api_return_data_map_form.html'"></div>
                    <div data-ng-if="item.id">
                        <div data-ng-include="'views/wms/partial/api_return_data_map_edit_form.html'"></div>
                        <hr>
                        <span data-ng-i18next="global:ui.heading.moreAction"></span>:
                        <button class="btn btn-default"
                                data-ng-click="addBrotherAbove(item, $index);"
                                data-ng-i18next="global:ui.button.addBrotherAbove"></button>
                        <button class="btn btn-default"
                                data-ng-click="addBrotherBelow(item, $index)"
                                data-ng-i18next="global:ui.button.addBrotherBelow"></button>
                        <button class="btn btn-default"
                                data-ng-if="item.dataType == 'MAP' || item.dataType == 'MAP_LIST'"
                                data-ng-click="addChild(item, $index)"
                                data-ng-i18next="global:ui.button.addChild"></button>
                        <button class="btn btn-danger" data-ng-if="item.rightValue - item.leftValue == 1"
                                data-ng-click="remove(item.id)"
                                data-ng-i18next="global:ui.button.remove"></button>
                    </div>
                </div>
            </div>
        </div>

    </section>

</div>