<div class="page" data-ng-controller="WmsCheckDeviceScaleCtrl">
    <div class="divider divider-lg"></div>
    <div class="row">
        <div class="col-md-4 col-xsm-6">
            <section class="pricing-table">
                <header>
                    <span class="ti-printer"></span>
                    {{'wms:ui.label.checkScale' | i18next}}</header>
                <div class="pricing-body">
                    <div class="pricing-price">
                        <hr class="hr-colored">
                        <p class="subtitle">{{'wms:ui.tips.pleaseConnectTheScale' | i18next}}</p>
                    </div>
                </div>
                <footer>
                    <a href="javascript:;" data-ng-click="checkScale()" class="btn btn-lg btn-primary">
                        <span data-ng-i18next="wms:ui.label.checkScale"></span>
                    </a>
                </footer>
            </section>
        </div>
    </div>
</div>

