<div class="page page-table" data-ng-controller="WmsExpressOrderImportCtrl">
    <section class="panel panel-default table-dynamic">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-th"></span>
            <span data-ng-i18next="wms:ui.label.importRefExpress"></span>
        </div>
        <div class="panel-body" >
            <div class="well">
                <div data-ng-include="'views/wms/partial/import_ref_express.html'"></div>
            </div>
        </div>

    </section>

</div>