<div class="page page-table" data-ng-controller="WmsFreightGroupListCtrl">
    <section class="panel panel-default table-dynamic">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-th"></span>
            <span data-ng-i18next="wms:ui.heading.freightGroup"></span>
        </div>

        <div class="panel-body">
            <div class="row">
                <div class="col-xs-6">
                    <button class="btn btn-primary" data-ng-click="switchCollapse(createFreightGroup)">
                        <span class="glyphicon glyphicon-plus"></span>
                        <span data-ng-i18next="global:ui.button.add"></span><span data-ng-i18next="wms:ui.heading.freightGroup"></span>
                    </button>
                </div>
                <div class="col-xs-6">
                    <form>
                        <input type="text" class="form-control"
                               data-ng-i18next="[placeholder]global:ui.button.search"
                               data-ng-model="searchOption.keywords"
                               data-ng-keyup="search()" />
                    </form>
                </div>
            </div>
        </div>

        <div class="panel-body" data-ng-show="createFreightGroup.inEditing">
            <div class="well">
                <div data-ng-include="'views/wms/partial/freight_group_form.html'"></div>
            </div>
        </div>

        <table class="table table-bordered table-striped table-responsive">
            <thead>
            <tr>
                <th>
                    <div class="th" data-ng-i18next="wms:ui.label.name"></div>
                </th>
                <th>
                    <div class="th" data-ng-i18next="wms:ui.heading.logisticCompany"></div>
                </th>
                <th>
                    <div class="th" data-ng-i18next="wms:ui.label.firstWeightPrice"></div>
                </th>
                <th>
                    <div class="th" data-ng-i18next="wms:ui.label.addedWeightPrice"></div>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="item in currentPageItems track by $index">
                <td>{{item.name}}</td>
                <td>{{logisticCompanyMap[item.logisticCompanyId].name}}</td>
                <td>
                    <div>
                        <form data-ng-submit="updateFirstWeightPrice(item, 'firstWeightPrice')" >
                            <a href="javascript:;" data-ng-show="!item[item.id+'firstWeightPrice']"
                               data-ng-click="switchNode(item,'firstWeightPrice',true)"
                               title="{{'global:ui.button.edit' | i18next}}">
                                {{item.firstWeightPrice}}
                                <span class="ti-pencil"></span>
                            </a>
                            <span data-ng-show="item[item.id+'firstWeightPrice']">
                                <input id="inputFirstWeightPrice" data-ng-model="item.firstWeightPrice" />
                                <a href="javascript:;" class="ti-save"
                                   data-ng-click="updateFirstWeightPrice(item, 'firstWeightPrice')"
                                   title="{{'global:ui.button.save' | i18next}}"></a>
                                <a href="javascript:;" class="ti-close"
                                   data-ng-click="switchNode(item,'firstWeightPrice',false)"
                                   title="{{'global:ui.button.cancel' | i18next}}"></a>
                            </span>
                        </form>
                    </div>
                </td>
                <td>
                    <div>
                        <form data-ng-submit="updateAddedWeightPrice(item, 'addedWeightPrice')" >
                            <a href="javascript:;" data-ng-show="!item[item.id+'addedWeightPrice']"
                               data-ng-click="switchNode(item,'addedWeightPrice',true)"
                               title="{{'global:ui.button.edit' | i18next}}">
                                {{item.addedWeightPrice}}
                                <span class="ti-pencil"></span>
                            </a>
                            <span data-ng-show="item[item.id+'addedWeightPrice']">
                                <input id="inputAddedWeightPrice" data-ng-model="item.addedWeightPrice" />
                                <a href="javascript:;" class="ti-save"
                                   data-ng-click="updateAddedWeightPrice(item, 'addedWeightPrice')"
                                   title="{{'global:ui.button.save' | i18next}}"></a>
                                <a href="javascript:;" class="ti-close"
                                   data-ng-click="switchNode(item,'addedWeightPrice',false)"
                                   title="{{'global:ui.button.cancel' | i18next}}"></a>
                            </span>
                        </form>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

        <footer class="table-footer">
            <div class="row">
                <div class="col-md-6 page-num-info">
                    <span>
                        {{'global:ui.pagination.showing' | i18next}}
                        {{filteredItems.length}}/{{items.length}}
                        {{'global:ui.pagination.entries' | i18next}}
                        <select data-ng-model="searchOption.numPerPage"
                                data-ng-options="num for num in numPerPageOpt"
                                data-ng-change="onNumPerPageChange()">
                        </select>
                        {{'global:ui.pagination.entries' | i18next}}
                        {{'global:ui.pagination.perPage' | i18next}}
                    </span>
                </div>
                <div class="col-md-6 text-right pagination-container">
                    <uib-pagination class="pagination-sm"
                                    ng-model="currentPage"
                                    total-items="filteredItems.length"
                                    max-size="4"
                                    ng-change="select(currentPage)"
                                    items-per-page="searchOption.numPerPage"
                                    rotate="false"
                                    previous-text="&lsaquo;" next-text="&rsaquo;"
                                    boundary-links="true"></uib-pagination>
                </div>
            </div>
        </footer>
    </section>

</div>