<div class="page page-table" data-ng-controller="WmsGoodsBreakageLogListCtrl">
    <section class="panel panel-default table-dynamic">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-th"></span>
            <span data-ng-i18next="wms:ui.heading.goodsBreakageLogList"></span>
        </div>

        <div class="panel-body">
            <div class="row">
                <div class="col-xs-6">
                    <div class="btn-group" uib-dropdown is-open="status.isopen2" data-ng-if="searchOption.status">
                        <button type="button" class="btn btn-default dropdown-toggle" uib-dropdown-toggle >
                            <span data-ng-i18next="wms:ui.label.status"></span>:
                            {{'wms:ui.goodsBreakageStatus.'+searchOption.status | i18next}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" data-ng-if="status">
                            <li data-ng-repeat="status in statusEnumList" data-ng-if="status">
                                <a href="javascript:;" data-ng-click="searchByStatus(status)" >
                                    {{'wms:ui.goodsBreakageStatus.'+status | i18next}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-6">
                    <form>
                        <input type="text" class="form-control"
                               data-ng-i18next="[placeholder]global:ui.button.search"
                               data-ng-model="searchOption.keywords"
                               data-ng-keyup="search()" />
                    </form>
                </div>
            </div>
        </div>

        <table class="table table-bordered table-striped table-responsive">
            <thead>
            <tr>
                <th>
                    <div class="th" data-ng-i18next="wms:ui.heading.seller"></div>
                </th>
                <th>
                    <div class="th" data-ng-i18next="wms:ui.heading.goods"></div>
                </th>
                <th>
                    <div class="th" data-ng-i18next="wms:ui.label.number"></div>
                </th>
                <th>
                    <div class="th" data-ng-i18next="wms:ui.label.encodeType"></div>
                </th>
                <th>
                    <div class="th" data-ng-i18next="wms:ui.label.goodsCode"></div>
                </th>
                <th>
                    <div class="th" data-ng-i18next="wms:ui.label.reason"></div>
                </th>
                <th>
                    <div class="th" data-ng-i18next="wms:ui.label.status"></div>
                </th>
                <th>
                    <div class="th" data-ng-i18next="wms:ui.label.declarant"></div>
                </th>
                <th>
                    <div class="th" data-ng-i18next="wms:ui.label.approver"></div>
                </th>
                <th>
                    <div class="th" data-ng-i18next="global:ui.label.action"></div>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="item in currentPageItems track by $index">
                <td>{{sellerMap[sellerGoodsMap[item.sellerGoodsId].sellerId].name}}</td>
                <td>{{sellerGoodsMap[item.sellerGoodsId].name}}</td>
                <td>{{item.number}}</td>
                <td>{{'wms:ui.statusEnum.encodeType.'+item.encodeType | i18next}}</td>
                <td>{{item.goodsCode}}</td>
                <td>{{'wms:ui.breakageReason.'+item.reason | i18next}}</td>
                <td>
                    <span data-ng-class="{ 'label label-default': item.status == 1,
                                                'label label-danger': item.status == 2,
                                                'label label-success': item.status == 3}">
                                {{'wms:ui.goodsBreakageStatus.'+item.status | i18next}}
                        </span>
                </td>
                <td>{{memberMap[item.declarant].name}}</td>
                <td>{{memberMap[item.approver].name}}</td>
                <td>
                    <div data-ng-if="item.status == 1">
                        <p>
                            <a href="javascript:;" class="btn btn-sm btn-line-danger" data-ng-click="reject(item)">
                                <span class="glyphicon glyphicon-repeat"></span>
                                <span data-ng-i18next="wms:ui.goodsBreakageStatus.2"></span>
                            </a>
                        </p>
                        <p>
                            <a href="javascript:;" class="btn btn-sm btn-success" data-ng-click="pass(item)">
                                <span class="glyphicon glyphicon-ok"></span>
                                <span data-ng-i18next="wms:ui.goodsBreakageStatus.3"></span>
                            </a>
                        </p>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

        <footer class="table-footer">
            <div class="row">
                <div class="col-md-6 page-num-info">
                    <span>
                        {{'global:ui.pagination.showing' | i18next}}
                        {{filteredItems.length}}/{{items.length}}
                        {{'global:ui.pagination.entries' | i18next}}
                        <select data-ng-model="searchOption.numPerPage"
                                data-ng-options="num for num in numPerPageOpt"
                                data-ng-change="onNumPerPageChange()">
                        </select>
                        {{'global:ui.pagination.entries' | i18next}}
                        {{'global:ui.pagination.perPage' | i18next}}
                    </span>
                </div>
                <div class="col-md-6 text-right pagination-container">
                    <uib-pagination class="pagination-sm"
                                    ng-model="currentPage"
                                    total-items="filteredItems.length"
                                    max-size="4"
                                    ng-change="select(currentPage)"
                                    items-per-page="searchOption.numPerPage"
                                    rotate="false"
                                    previous-text="&lsaquo;" next-text="&rsaquo;"
                                    boundary-links="true"></uib-pagination>
                </div>
            </div>
        </footer>
    </section>

</div>