<div class="page" data-ng-controller="WmsGoodsEditCtrl" >
    <section class="panel panel-default" >

        <div class="panel-footer">
            <span class="glyphicon glyphicon-th"></span>
            <span data-ng-i18next="wms:ui.heading.goods"></span><span data-ng-i18next="global:ui.label.detail"></span>
            <span>【{{goods.name}}】</span>
            <a href="#/wms/goods_list" class="ti-arrow-left pull-right">
                {{'global:ui.label.goBack' | i18next}}{{'wms:ui.heading.goodsList' | i18next}}</a>
        </div>
        <div class="panel-body">
            <div class="form-horizontal">
                <div class="row col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-2 control-label"
                               data-ng-i18next="wms:ui.label.barCode"></label>
                        <div class="col-sm-9 checkbox">
                            <form data-ng-submit="updateBarCode(goods, 'barCode')" >
                                <a href="javascript:;" data-ng-show="!goods[goods.id+'barCode']"
                                   data-ng-click="switchNode(goods,'barCode',true)"
                                   title="{{'global:ui.button.edit' | i18next}}">
                                    {{goods.barCode}}
                                    <span class="ti-pencil"></span>
                                </a>
                                <span data-ng-show="goods[goods.id+'barCode']">
                                <input id="inputBarCode" data-ng-model="goods.barCode" />
                                <a href="javascript:;" class="ti-save"
                                   data-ng-click="updateBarCode(goods, 'barCode')"
                                   title="{{'global:ui.button.save' | i18next}}"></a>
                                <a href="javascript:;" class="ti-close"
                                   data-ng-click="switchNode(goods,'barCode',false)"
                                   title="{{'global:ui.button.cancel' | i18next}}"></a>
                            </span>
                            </form>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"
                               data-ng-i18next="wms:ui.label.fullName"></label>
                        <div class="col-sm-9 checkbox">
                            <form data-ng-submit="updateName(goods, 'name')" >
                                <a href="javascript:;" data-ng-show="!goods[goods.id+'name']"
                                   data-ng-click="switchNode(goods,'name',true)"
                                   title="{{'global:ui.button.edit' | i18next}}">
                                    {{goods.name}}
                                    <span class="ti-pencil"></span>
                                </a>
                                <span data-ng-show="goods[goods.id+'name']">
                                <input id="inputName" data-ng-model="goods.name" />
                                <a href="javascript:;" class="ti-save"
                                   data-ng-click="updateName(goods, 'name')"
                                   title="{{'global:ui.button.save' | i18next}}"></a>
                                <a href="javascript:;" class="ti-close"
                                   data-ng-click="switchNode(goods,'name',false)"
                                   title="{{'global:ui.button.cancel' | i18next}}"></a>
                            </span>
                            </form>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"
                               data-ng-i18next="wms:ui.label.abbrName"></label>
                        <div class="col-sm-9 checkbox">
                            <form data-ng-submit="updateAbbrName(goods, 'abbrName')" >
                                <a href="javascript:;" data-ng-show="!goods[goods.id+'abbrName']"
                                   data-ng-click="switchNode(goods,'abbrName',true)"
                                   title="{{'global:ui.button.edit' | i18next}}">
                                    {{goods.abbrName}}
                                    <span class="ti-pencil"></span>
                                </a>
                                <span data-ng-show="goods[goods.id+'abbrName']">
                                <input id="inputAbbrName" data-ng-model="goods.abbrName" />
                                <a href="javascript:;" class="ti-save"
                                   data-ng-click="updateAbbrName(goods, 'abbrName')"
                                   title="{{'global:ui.button.save' | i18next}}"></a>
                                <a href="javascript:;" class="ti-close"
                                   data-ng-click="switchNode(goods,'abbrName',false)"
                                   title="{{'global:ui.button.cancel' | i18next}}"></a>
                            </span>
                            </form>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"
                               data-ng-i18next="wms:ui.label.weight"></label>
                        <div class="col-sm-9 checkbox">
                            <form data-ng-submit="updateWeight(goods, 'weight')" >
                                <a href="javascript:;" data-ng-show="!goods[goods.id+'weight']"
                                   data-ng-click="switchNode(goods,'weight',true)"
                                   title="{{'global:ui.button.edit' | i18next}}">
                                    {{goods.weight}}
                                    <span class="ti-pencil"></span>
                                </a>
                                <span data-ng-show="goods[goods.id+'weight']">
                                <input id="inputWeight" data-ng-model="goods.weight" />
                                <a href="javascript:;" class="ti-save"
                                   data-ng-click="updateWeight(goods, 'weight')"
                                   title="{{'global:ui.button.save' | i18next}}"></a>
                                <a href="javascript:;" class="ti-close"
                                   data-ng-click="switchNode(goods,'weight',false)"
                                   title="{{'global:ui.button.cancel' | i18next}}"></a>
                            </span>
                                <span class="space"></span>
                                <a class="btn btn-primary" data-ng-click="updateWeightByScale(goods)">
                                    {{'wms:ui.label.autoWeight' | i18next}}</a>
                            </form>
                            <div class="divider divider-lg"></div>
                            <div class="panel-heading  bg-info" data-ng-if="deviceWeight">
                                <h3>{{'wms:ui.label.weightResult' | i18next}}： {{deviceWeight}} {{'global:ui.unit.g' | i18next}}</h3>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-2 control-label"
                               data-ng-i18next="wms:ui.label.length"></label>
                        <div class="col-sm-9 checkbox">
                            <form data-ng-submit="updateLength(goods, 'length')" >
                                <a href="javascript:;" data-ng-show="!goods[goods.id+'length']"
                                   data-ng-click="switchNode(goods,'length',true)"
                                   title="{{'global:ui.button.edit' | i18next}}">
                                    {{goods.length}}
                                    <span class="ti-pencil"></span>
                                </a>
                                <span data-ng-show="goods[goods.id+'length']">
                                <input id="inputLength" data-ng-model="goods.length" />
                                <a href="javascript:;" class="ti-save"
                                   data-ng-click="updateLength(goods, 'length')"
                                   title="{{'global:ui.button.save' | i18next}}"></a>
                                <a href="javascript:;" class="ti-close"
                                   data-ng-click="switchNode(goods,'length',false)"
                                   title="{{'global:ui.button.cancel' | i18next}}"></a>
                            </span>
                            </form>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"
                               data-ng-i18next="wms:ui.label.width"></label>
                        <div class="col-sm-9 checkbox">
                            <form data-ng-submit="updateWidth(goods, 'width')" >
                                <a href="javascript:;" data-ng-show="!goods[goods.id+'width']"
                                   data-ng-click="switchNode(goods,'width',true)"
                                   title="{{'global:ui.button.edit' | i18next}}">
                                    {{goods.width}}
                                    <span class="ti-pencil"></span>
                                </a>
                                <span data-ng-show="goods[goods.id+'width']">
                                <input id="inputWidth" data-ng-model="goods.width" />
                                <a href="javascript:;" class="ti-save"
                                   data-ng-click="updateWidth(goods, 'width')"
                                   title="{{'global:ui.button.save' | i18next}}"></a>
                                <a href="javascript:;" class="ti-close"
                                   data-ng-click="switchNode(goods,'width',false)"
                                   title="{{'global:ui.button.cancel' | i18next}}"></a>
                            </span>
                            </form>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"
                               data-ng-i18next="wms:ui.label.height"></label>
                        <div class="col-sm-9 checkbox">
                            <form data-ng-submit="updateHeight(goods, 'height')" >
                                <a href="javascript:;" data-ng-show="!goods[goods.id+'height']"
                                   data-ng-click="switchNode(goods,'height',true)"
                                   title="{{'global:ui.button.edit' | i18next}}">
                                    {{goods.height}}
                                    <span class="ti-pencil"></span>
                                </a>
                                <span data-ng-show="goods[goods.id+'height']">
                                <input id="inputHeight" data-ng-model="goods.height" />
                                <a href="javascript:;" class="ti-save"
                                   data-ng-click="updateHeight(goods, 'height')"
                                   title="{{'global:ui.button.save' | i18next}}"></a>
                                <a href="javascript:;" class="ti-close"
                                   data-ng-click="switchNode(goods,'height',false)"
                                   title="{{'global:ui.button.cancel' | i18next}}"></a>
                            </span>
                            </form>
                        </div>
                    </div>
                    <div class="form-group" data-ng-if="uploader.url">
                        <label class="col-sm-2 control-label"
                               data-ng-i18next="wms:ui.label.image"></label>
                        <div class="col-sm-9 checkbox">
                            <form data-ng-submit="updateImage(goods, 'image')" >
                                <a href="javascript:;" data-ng-show="!goods[goods.id+'image']"
                                   data-ng-click="switchNode(goods,'image',true)"
                                   title="{{'global:ui.button.edit' | i18next}}">
                                    <img class="img-responsive" width="200" data-ng-src="{{goods.image}}" alt="" />
                                    <span class="ti-pencil"></span>
                                </a>
                            </form>
                            <span data-ng-show="goods[goods.id+'image']"><input type="file" data-nv-file-select="" data-uploader="uploader"   /></span>
                            <div class="row" data-ng-repeat="queueImage in uploader.queue" data-ng-show="goods[goods.id+'image']">
                                    <div data-ng-show="uploader.isHTML5" data-ng-thumb="{file: queueImage._file, width: 300}"></div>
                                    <div data-ng-show="uploader.isHTML5" data-nowrap>
                                        <p>
                                            {{ queueImage.file.size/1024/1024|number:2 }} MB
                                        </p>
                                        <div class="progress" style="margin-bottom: 0;">
                                            <div class="progress-bar" role="progressbar" data-ng-style="{ 'width': queueImage.progress + '%' }"></div>
                                        </div>
                                        <p>
                                            <span data-ng-show="queueImage.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                            <span data-ng-show="queueImage.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                            <span data-ng-show="queueImage.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                        </p>
                                        <p>
                                            <span data-ng-if="(queueImage.file.size/1024/1024) > 2">{{'wms:ui.label.moreThan2MB' | i18next}}</span>


                                            <button type="button" class="btn btn-success" data-ng-click="uploadGoodsImages(goods,queueImage)"
                                                    data-ng-show="(queueImage.file.size/1024/1024) <= 2"
                                                    data-ng-disabled="(queueImage.file.size/1024/1024) > 2 || queueImage.isReady || queueImage.isUploading || queueImage.isSuccess">
                                                <span class="glyphicon glyphicon-upload"></span> <span data-ng-i18next="global:ui.button.upload"></span>
                                            </button>
                                            <span class="space"></span>
                                            <button type="button" class="btn btn-danger" data-ng-click="queueImage.remove()">
                                                <span class="glyphicon glyphicon-trash"></span> <span data-ng-i18next="global:ui.button.remove"></span>
                                            </button>
                                        </p>
                                    </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


    </section>
</div>