<div class="page" data-ng-controller="WmsGoodsBlacklistDetailCtrl">
    <section class="panel panel-default">
        <div class="panel-footer">
            <span class="glyphicon glyphicon-th"></span>
            <span data-ng-i18next="wms:ui.heading.goodsBlacklist"></span>
            <span data-ng-i18next="global:ui.label.detail"></span>
            <a href="#/wms/goods_blacklist_list" class="ti-arrow-left pull-right"></a>
        </div>
        <div class="panel-body">
            <form class="form-horizontal">
        
                <div class="form-group">
                    <label for="goodsBlacklist.id" class="col-sm-4 control-label" 
                          data-ng-i18next="wms:ui.label.id"></label>
                    <div class="col-sm-8">
                        <input class="form-control" id="goodsBlacklist.id" readonly data-ng-model="goodsBlacklist.id" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="goodsBlacklist.sellerId" class="col-sm-4 control-label" 
                          data-ng-i18next="wms:ui.label.sellerId"></label>
                    <div class="col-sm-8">
                        <input class="form-control" id="goodsBlacklist.sellerId" readonly data-ng-model="goodsBlacklist.sellerId" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="goodsBlacklist.platformSourceId" class="col-sm-4 control-label" 
                          data-ng-i18next="wms:ui.label.platformSourceId"></label>
                    <div class="col-sm-8">
                        <input class="form-control" id="goodsBlacklist.platformSourceId" readonly data-ng-model="goodsBlacklist.platformSourceId" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="goodsBlacklist.uniqueCode" class="col-sm-4 control-label" 
                          data-ng-i18next="wms:ui.label.uniqueCode"></label>
                    <div class="col-sm-8">
                        <input class="form-control" id="goodsBlacklist.uniqueCode" readonly data-ng-model="goodsBlacklist.uniqueCode" />
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>