<div class="page page-grid" data-ng-controller="WmsLogisticOrderEditCtrl" >
    <section class="panel panel-default">
        <div class="panel-footer">
            <span class="glyphicon glyphicon-th"></span>
            <span data-ng-i18next="wms:ui.heading.expressOrder"></span>
            <span data-ng-i18next="global:ui.label.detail"></span>
            <a href="#/wms/pick_order_list" class="ti-arrow-left pull-right"></a>
        </div>
        <div data-ng-include="'views/wms/partial/logistic_order_detail.html'"></div>
    </section>
</div>
