<div class="page" data-ng-controller="WmsMemberDetailCtrl">
    <section class="panel panel-default">
        <div class="panel-footer">
            <span class="glyphicon glyphicon-th"></span>
            <span data-ng-i18next="wms:ui.heading.member"></span>
            <span data-ng-i18next="global:ui.label.detail"></span>
            <a href="#/wms/member_list" class="ti-arrow-left pull-right"></a>
        </div>
        <div class="panel-body">
            <form class="form-horizontal">
        
                <div class="form-group">
                    <label for="member.id" class="col-sm-4 control-label"
                          data-ng-i18next="wms:ui.label.id"></label>
                    <div class="col-sm-8">
                        <input class="form-control" id="member.id" readonly data-ng-model="member.id" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="member.jobNumber" class="col-sm-4 control-label" 
                          data-ng-i18next="wms:ui.label.jobNumber"></label>
                    <div class="col-sm-8">
                        <input class="form-control" id="member.jobNumber" readonly data-ng-model="member.jobNumber" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="member.name" class="col-sm-4 control-label" 
                          data-ng-i18next="wms:ui.label.name"></label>
                    <div class="col-sm-8">
                        <input class="form-control" id="member.name" readonly data-ng-model="member.name" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="member.realName" class="col-sm-4 control-label"
                           data-ng-i18next="wms:ui.label.realName"></label>
                    <div class="col-sm-8">
                        <input class="form-control" id="member.realName" readonly data-ng-model="member.realName" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="member.mobilePhone" class="col-sm-4 control-label"
                           data-ng-i18next="wms:ui.label.mobilePhone"></label>
                    <div class="col-sm-8">
                        <input class="form-control" id="member.mobilePhone" readonly data-ng-model="member.mobilePhone" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="member.password" class="col-sm-4 control-label" 
                          data-ng-i18next="wms:ui.label.password"></label>
                    <div class="col-sm-8">
                        <input class="form-control" id="member.password" readonly data-ng-model="member.password" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="member.salt" class="col-sm-4 control-label"
                          data-ng-i18next="wms:ui.label.salt"></label>
                    <div class="col-sm-8">
                        <input class="form-control" id="member.salt" readonly data-ng-model="member.salt" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="member.sellerId" class="col-sm-4 control-label"
                          data-ng-i18next="wms:ui.label.sellerId"></label>
                    <div class="col-sm-8">
                        <input class="form-control" id="member.sellerId" readonly data-ng-model="member.sellerId" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="member.isSellerMember" class="col-sm-4 control-label"
                          data-ng-i18next="wms:ui.label.isSellerMember"></label>
                    <div class="col-sm-8">
                        <input class="form-control" id="member.isSellerMember" readonly data-ng-model="member.isSellerMember" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="member.disabled" class="col-sm-4 control-label"
                          data-ng-i18next="wms:ui.label.disabled"></label>
                    <div class="col-sm-8">
                        <input class="form-control" id="member.disabled" readonly data-ng-model="member.disabled" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="member.lastLogin" class="col-sm-4 control-label"
                          data-ng-i18next="wms:ui.label.lastLogin"></label>
                    <div class="col-sm-8">
                        <input class="form-control" id="member.lastLogin" readonly data-ng-model="member.lastLogin" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="member.created" class="col-sm-4 control-label"
                          data-ng-i18next="wms:ui.label.created"></label>
                    <div class="col-sm-8">
                        <input class="form-control" id="member.created" readonly data-ng-model="member.created" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="member.modified" class="col-sm-4 control-label"
                          data-ng-i18next="wms:ui.label.modified"></label>
                    <div class="col-sm-8">
                        <input class="form-control" id="member.modified" readonly data-ng-model="member.modified" />
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>