<div class="page page-table" data-ng-controller="WmsModuleActionListCtrl">
    <section class="panel panel-default table-dynamic">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-th"></span>
            <span data-ng-i18next="wms:ui.heading.moduleAction"></span>
        </div>

        <div class="panel-body">
            <div class="row">
                <div class="col-xs-6">
                    <button class="btn btn-primary" data-ng-click="switchCollapse(createModuleAction)">
                        <span class="glyphicon glyphicon-plus"></span>
                        <span data-ng-i18next="global:ui.button.create"></span>
                    </button>
                </div>
                <div class="col-xs-6">
                    <form>
                        <input type="text" class="form-control"
                               data-ng-i18next="[placeholder]global:ui.button.search"
                               data-ng-model="searchOption.keywords"
                               data-ng-keyup="search()" />
                    </form>
                </div>
            </div>
        </div>

        <div class="panel-body" data-ng-show="createModuleAction.inEditing">
            <div class="well">
                <div data-ng-include="'views/wms/partial/module_action_form.html'"></div>
            </div>
        </div>

        <table class="table table-bordered table-striped table-responsive">
            <thead>
            <tr>
                <th>
                    <div class="th" data-ng-i18next="wms:ui.label.alias"></div>
                </th>
                <th>
                    <div class="th" data-ng-i18next="wms:ui.label.name"></div>
                </th>
               <th>
                    <div class="th" data-ng-i18next="global:ui.label.action"></div>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="item in currentPageItems track by $index">
                <td>
                    <div>
                        <form data-ng-submit="updateAlias(item, 'alias')" >
                            <a href="javascript:;" data-ng-show="!item[item.id+'alias']"
                               data-ng-click="switchNode(item,'alias',true)"
                               title="{{'global:ui.button.edit' | i18next}}">
                                {{item.alias}}
                                <span class="ti-pencil"></span>
                            </a>
                            <span data-ng-show="item[item.id+'alias']">
                                <textarea name="" class="form-control"
                                          data-ng-model="item.alias" rows="3"></textarea>

                                <a href="javascript:;" class="ti-save"
                                   data-ng-click="updateAlias(item, 'alias')"
                                   title="{{'global:ui.button.save' | i18next}}"></a>
                                <a href="javascript:;" class="ti-close"
                                   data-ng-click="switchNode(item,'alias',false)"
                                   title="{{'global:ui.button.cancel' | i18next}}"></a>
                            </span>
                        </form>
                    </div>
                </td>
                <td>
                    <div>
                        <form data-ng-submit="updateName(item, 'name')" >
                            <a href="javascript:;" data-ng-show="!item[item.id+'name']"
                               data-ng-click="switchNode(item,'name',true)"
                               title="{{'global:ui.button.edit' | i18next}}">
                                {{item.name}}
                                <span class="ti-pencil"></span>
                            </a>
                            <span data-ng-show="item[item.id+'name']">
                                <textarea name="" class="form-control"
                                          data-ng-model="item.name" rows="3"></textarea>
                                <a href="javascript:;" class="ti-save"
                                   data-ng-click="updateName(item, 'name')"
                                   title="{{'global:ui.button.save' | i18next}}"></a>
                                <a href="javascript:;" class="ti-close"
                                   data-ng-click="switchNode(item,'name',false)"
                                   title="{{'global:ui.button.cancel' | i18next}}"></a>
                            </span>
                        </form>
                    </div>
                </td>
                <td>
                    <a class="btn btn-xs btn-danger" data-ng-click="delete(item.id, $index)">
                        <span class="ti-trash"></span>
                        <span data-ng-i18next="global:ui.button.remove"></span>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>

        <footer class="table-footer">
            <div class="row">
                <div class="col-md-6 page-num-info">
                    <span>
                        {{'global:ui.pagination.showing' | i18next}}
                        {{filteredItems.length}}/{{items.length}}
                        {{'global:ui.pagination.entries' | i18next}}
                        <select data-ng-model="searchOption.numPerPage"
                                data-ng-options="num for num in numPerPageOpt"
                                data-ng-change="onNumPerPageChange()">
                        </select>
                        {{'global:ui.pagination.entries' | i18next}}
                        {{'global:ui.pagination.perPage' | i18next}}
                    </span>
                </div>
                <div class="col-md-6 text-right pagination-container">
                    <uib-pagination class="pagination-sm"
                                    ng-model="currentPage"
                                    total-items="filteredItems.length"
                                    max-size="4"
                                    ng-change="select(currentPage)"
                                    items-per-page="searchOption.numPerPage"
                                    rotate="false"
                                    previous-text="&lsaquo;" next-text="&rsaquo;"
                                    boundary-links="true"></uib-pagination>
                </div>
            </div>
        </footer>
    </section>

</div>