<div class="page page-table" data-ng-controller="WmsOrderListSuccessSplitCtrl">
    <section class="panel panel-default table-dynamic">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-th"></span>
            {{'wms:ui.orderStatus.3' | i18next}}<span data-ng-i18next="wms:ui.heading.order"></span>
        </div>

        <div class="panel-body">
            <div class="row">
                <div class="col-xs-6">
                </div>
                <div class="col-xs-6">
                    <form>
                        <input type="text" class="form-control"
                               data-ng-i18next="[placeholder]global:ui.button.search"
                               data-ng-model="searchOption.keywords"
                               data-ng-keyup="search()" />
                    </form>
                </div>
            </div>
        </div>

        <!--<div class="panel-body" data-ng-show="createOrder.inEditing">-->
            <!--<div class="well">-->
                <!--<div data-ng-include="'views/wms/partial/order_form.html'"></div>-->
            <!--</div>-->
        <!--</div>-->
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-responsive">
                    <thead>
                    <tr>
                        <th>
                            <div class="th" data-ng-i18next="wms:ui.label.orderSn"></div>
                        </th>
                        <th>
                            <div class="th" data-ng-i18next="wms:ui.heading.platformSource"></div>
                        </th>
                        <th>
                            <div class="th" data-ng-i18next="wms:ui.label.consigneeName"></div>
                        </th>
                        <th>
                            <div class="th" data-ng-i18next="wms:ui.label.consigneeAddress"></div>
                        </th>
                        <th>
                            <div class="th" data-ng-i18next="wms:ui.label.phoneNumber"></div>
                        </th>
                        <th>
                            <div class="th" data-ng-i18next="wms:ui.label.comment"></div>
                        </th>
                        <th>
                            <div class="th" data-ng-i18next="wms:ui.label.status"></div>
                        </th>
                       <th>
                            <div class="th" data-ng-i18next="global:ui.label.action"></div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="item in currentPageItems track by $index">
                        <td>{{item.orderSn}}</td>
                        <td>{{platformSourceMap[item.platformSourceId].name}}</td>
                        <td>{{item.consigneeName}}</td>
                        <td>{{item.consigneeAddress}}</td>
                        <td>{{item.phoneNumber}}</td>
                        <td>{{item.comment}}</td>
                        <td>
                            <span data-ng-class="{  'label label-default': item.status == 0,
                                                    'label label-danger': item.status == 1,
                                                   'label label-warning': item.status == 2,
                                                   'label label-success': item.status == 3}">
                                        {{'wms:ui.orderStatus.'+item.status | i18next}}
                                    </span>
                        <td>
                            <p>
                                <a href="#/wms/order_goods_list?orderId={{item.id}}" class="btn btn-sm btn-line-primary">
                                    <span class="ti-menu"></span>
                                    <span data-ng-i18next="wms:ui.heading.orderGoods"></span>
                                </a>
                            </p>
                            <a href="#/wms/split_order?orderId={{item.id}}"
                               class="btn btn-sm btn-line-primary"
                                data-ng-if="item.status > 0">
                                <span class="ti-eye"></span>
                                <span data-ng-if="item.status == 3" data-ng-i18next="wms:ui.heading.pickOrder"></span>
                            </a>

                        </td>
                    </tr>
                    </tbody>
                </table>

                <footer class="table-footer">
                    <div class="row">
                        <div class="col-md-6 page-num-info">
                            <span>
                                {{'global:ui.pagination.showing' | i18next}}
                                {{filteredItems.length}}/{{items.length}}
                                {{'global:ui.pagination.entries' | i18next}}
                                <select data-ng-model="searchOption.numPerPage"
                                        data-ng-options="num for num in numPerPageOpt"
                                        data-ng-change="onNumPerPageChange()">
                                </select>
                                {{'global:ui.pagination.entries' | i18next}}
                                {{'global:ui.pagination.perPage' | i18next}}
                            </span>
                        </div>
                        <div class="col-md-6 text-right pagination-container">
                            <uib-pagination class="pagination-sm"
                                            ng-model="currentPage"
                                            total-items="filteredItems.length"
                                            max-size="4"
                                            ng-change="select(currentPage)"
                                            items-per-page="searchOption.numPerPage"
                                            rotate="false"
                                            previous-text="&lsaquo;" next-text="&rsaquo;"
                                            boundary-links="true"></uib-pagination>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </section>

</div>