<div class="page" data-ng-controller="WmsPlatformOrderUploadDetailCtrl">
    <section class="panel panel-default">
        <div class="panel-footer">
            <span class="glyphicon glyphicon-th"></span>
            <span data-ng-i18next="wms:ui.heading.platformOrderUpload"></span>
            <span data-ng-i18next="global:ui.label.detail"></span>
            <a href="#/wms/platform_order_upload_list" class="ti-arrow-left pull-right"></a>
        </div>
        <div class="panel-body">
            <form class="form-horizontal">
        
                <div class="form-group">
                    <label for="platformOrderUpload.id" class="col-sm-4 control-label" 
                          data-ng-i18next="wms:ui.label.id"></label>
                    <div class="col-sm-8">
                        <input class="form-control" id="platformOrderUpload.id" readonly data-ng-model="platformOrderUpload.id" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="platformOrderUpload.sellerId" class="col-sm-4 control-label" 
                          data-ng-i18next="wms:ui.label.sellerId"></label>
                    <div class="col-sm-8">
                        <input class="form-control" id="platformOrderUpload.sellerId" readonly data-ng-model="platformOrderUpload.sellerId" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="platformOrderUpload.platformSourceId" class="col-sm-4 control-label" 
                          data-ng-i18next="wms:ui.label.platformSourceId"></label>
                    <div class="col-sm-8">
                        <input class="form-control" id="platformOrderUpload.platformSourceId" readonly data-ng-model="platformOrderUpload.platformSourceId" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="platformOrderUpload.originalFileName" class="col-sm-4 control-label" 
                          data-ng-i18next="wms:ui.label.originalFileName"></label>
                    <div class="col-sm-8">
                        <input class="form-control" id="platformOrderUpload.originalFileName" readonly data-ng-model="platformOrderUpload.originalFileName" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="platformOrderUpload.filePath" class="col-sm-4 control-label" 
                          data-ng-i18next="wms:ui.label.filePath"></label>
                    <div class="col-sm-8">
                        <input class="form-control" id="platformOrderUpload.filePath" readonly data-ng-model="platformOrderUpload.filePath" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="platformOrderUpload.memberId" class="col-sm-4 control-label" 
                          data-ng-i18next="wms:ui.label.memberId"></label>
                    <div class="col-sm-8">
                        <input class="form-control" id="platformOrderUpload.memberId" readonly data-ng-model="platformOrderUpload.memberId" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="platformOrderUpload.status" class="col-sm-4 control-label" 
                          data-ng-i18next="wms:ui.label.status"></label>
                    <div class="col-sm-8">
                        <input class="form-control" id="platformOrderUpload.status" readonly data-ng-model="platformOrderUpload.status" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="platformOrderUpload.message" class="col-sm-4 control-label" 
                          data-ng-i18next="wms:ui.label.message"></label>
                    <div class="col-sm-8">
                        <input class="form-control" id="platformOrderUpload.message" readonly data-ng-model="platformOrderUpload.message" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="platformOrderUpload.created" class="col-sm-4 control-label" 
                          data-ng-i18next="wms:ui.label.created"></label>
                    <div class="col-sm-8">
                        <input class="form-control" id="platformOrderUpload.created" readonly data-ng-model="platformOrderUpload.created" />
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>