<div class="page" data-ng-controller="WmsPlatformSourceEditCtrl">
    <section class="panel panel-default">
        <div class="panel-footer">
            <span class="glyphicon glyphicon-th"></span>
            <span data-ng-i18next="wms:ui.heading.platformSource"></span>
            <span data-ng-i18next="global:ui.label.detail"></span>
            <a href="#/wms/platform_source_list" class="ti-arrow-left pull-right"></a>
        </div>
        <div class="panel-body">
            <div class="form-horizontal">
        
                <div class="form-group">
                    <label for="platformSource.id" class="col-sm-4 control-label" 
                          data-ng-i18next="wms:ui.label.id"></label>
                    <div class="col-sm-8">
                        <input class="form-control" id="platformSource.id" readonly data-ng-model="platformSource.id" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" 
                          data-ng-i18next="wms:ui.label.name"></label>
                    <div class="col-sm-8">
                        <form data-ng-submit="updateName(platformSource, 'name')" >
                            <a href="javascript:;" data-ng-show="!platformSource[platformSource.id+'name']"
                               data-ng-click="switchNode(platformSource,'name',true)"
                               title="{{'global:ui.button.edit' | i18next}}">
                                {{platformSource.name}}
                                <span class="ti-pencil"></span>
                            </a>
                            <span data-ng-show="platformSource[platformSource.id+'name']">
                                <input id="inputName" data-ng-model="platformSource.name" />
                                <a href="javascript:;" class="ti-save"
                                   data-ng-click="updateName(platformSource, 'name')"
                                   title="{{'global:ui.button.save' | i18next}}"></a>
                                <a href="javascript:;" class="ti-close"
                                   data-ng-click="switchNode(platformSource,'name',false)"
                                   title="{{'global:ui.button.cancel' | i18next}}"></a>
                            </span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>