<div class="page" data-ng-controller="WmsRepositoryDetailCtrl">
    <section class="panel panel-default">
        <div class="panel-footer">
            <span class="glyphicon glyphicon-th"></span>
            <span data-ng-i18next="wms:ui.heading.repository"></span>
            <span data-ng-i18next="global:ui.label.detail"></span>
            <a href="#/wms/repository_list?warehouseId={{warehouse.id}}" class="ti-arrow-left pull-right"></a>
        </div>
        <div class="panel-body" data-ng-include="'views/wms/partial/repository_form.html'">
        </div>
    </section>
</div>