<div class="page" data-ng-controller="WmsResetPasswordCtrl">
    <section class="panel panel-default">
        <div class="panel-footer">
            <strong>
                <span class="glyphicon glyphicon-th"></span>
                <span data-ng-i18next="passport:ui.button.resetPassword"></span>
            </strong>
            <a href="#/wms/member_list" class="ti-arrow-left pull-right" data-ng-if="!sellerId"></a>
            <a href="#/wms/seller_member_list?sellerId={{sellerId}}" class="ti-arrow-left pull-right"
               data-ng-if="sellerId"></a>
        </div>
        <div class="panel-body" data-ng-include="'views/wms/partial/reset_password.html'">
        </div>
    </section>
</div>

