<div class="page page-table" data-ng-controller="WmsRoleListCtrl">
    <section class="panel panel-default table-dynamic">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-th"></span>
            <span data-ng-i18next="wms:ui.heading.roleManager"></span>
        </div>

        <div class="panel-body">
            <div class="row">
                <div class="col-xs-6">
                    <button class="btn btn-primary" data-ng-click="switchCollapse(createRole)">
                        <span class="glyphicon glyphicon-plus"></span>
                        <span data-ng-i18next="global:ui.button.create"></span>
                    </button>
                </div>
                <div class="col-xs-6">
                    <form>
                        <input type="text" class="form-control"
                               data-ng-i18next="[placeholder]global:ui.button.search"
                               data-ng-model="searchOption.keywords"
                               data-ng-keyup="search()" />
                    </form>
                </div>
            </div>
        </div>

        <div class="panel-body" data-ng-show="createRole.inEditing">
            <div class="well">
                <div data-ng-include="'views/wms/partial/role_form.html'"></div>
            </div>
        </div>

        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-responsive">
                    <thead>
                    <tr>
                        <th>
                            <div class="th" >
                                <span data-ng-i18next="wms:ui.label.name"></span>
                                <span class="fa fa-angle-up" data-ng-click="order('name')"
                                      data-ng-class="{active: row == 'name'}"></span>
                                <span class="fa fa-angle-down" data-ng-click="order('-name') "
                              data-ng-class="{active: row == '-name'}"></span>
                            </div>
                        </th>
                        <th>
                            <div class="th" data-ng-i18next="wms:ui.label.sellerRole"></div>
                        </th>
                       <th>
                            <div class="th" data-ng-i18next="global:ui.label.action"></div>
                        </th>
                        <th>
                            <div class="th" data-ng-i18next="global:ui.label.action"></div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="item in currentPageItems">
                        <td>
                            <div>
                                <form data-ng-submit="updateName(item, 'name')" >
                                    <a href="javascript:;" data-ng-show="!item[item.id+'name']"
                                       data-ng-click="switchNode(item,'name',true)"
                                       title="{{'global:ui.button.edit' | i18next}}">
                                        {{item.name}}
                                        <span class="ti-pencil"></span>
                                    </a>
                                    <span data-ng-show="item[item.id+'name']">
                                        <input id="inputName" data-ng-model="item.name" />
                                        <a href="javascript:;" class="ti-save"
                                           data-ng-click="updateName(item, 'name')"
                                           title="{{'global:ui.button.save' | i18next}}"></a>
                                        <a href="javascript:;" class="ti-close"
                                           data-ng-click="switchNode(item,'name',false)"
                                           title="{{'global:ui.button.cancel' | i18next}}"></a>
                                    </span>
                                </form>
                            </div>
                        </td>
                        <td>
                            <span class="label label-info" data-ng-if="!item.sellerRole">
                                {{'global:ui.label.'+item.sellerRole | i18next}}
                            </span>
                            <span class="label label-success" data-ng-if="item.sellerRole">
                                {{'global:ui.label.'+item.sellerRole | i18next}}
                            </span>
                            </td>
                        <td>
                            <a href="#/wms/role_acl_list?roleId={{item.id}}"
                               class="btn btn-sm btn-line-primary">
                                <span class="ti-user"></span>
                                <span data-ng-i18next="wms:ui.heading.roleAcl"></span>
                            </a>
                        </td>
                        <td>
                            <a href="#/wms/role_detail?roleId={{item.id}}"
                               class="btn btn-sm btn-line-primary">
                                <span class="fa fa-users"></span>
                                <span data-ng-i18next="wms:ui.heading.roleDetail"></span>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <footer class="table-footer">
                    <div class="row">
                        <div class="col-md-6 page-num-info">
                            <span>
                                {{'global:ui.pagination.showing' | i18next}}
                                {{filteredItems.length}}/{{items.length}}
                                {{'global:ui.pagination.entries' | i18next}}
                                <select data-ng-model="searchOption.numPerPage"
                                        data-ng-options="num for num in numPerPageOpt"
                                        data-ng-change="onNumPerPageChange()">
                                </select>
                                {{'global:ui.pagination.entries' | i18next}}
                                {{'global:ui.pagination.perPage' | i18next}}
                            </span>
                        </div>
                        <div class="col-md-6 text-right pagination-container">
                            <uib-pagination class="pagination-sm"
                                            ng-model="currentPage"
                                            total-items="filteredItems.length"
                                            max-size="4"
                                            ng-change="select(currentPage)"
                                            items-per-page="searchOption.numPerPage"
                                            rotate="false"
                                            previous-text="&lsaquo;" next-text="&rsaquo;"
                                            boundary-links="true"></uib-pagination>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </section>

</div>