<div class="page page-table page-tasks" data-ng-controller="WmsSellerGoodsGroupListCtrl">
    <section class="panel panel-default">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-th"></span>
            <span data-ng-i18next="wms:ui.heading.sellerGoodsGroupList"></span>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-6">
                </div>
                <div class="col-xs-6">
                    <form>
                        <input type="text"
                               data-ng-i18next="[placeholder]global:ui.button.search"
                               class="form-control"
                               data-ng-model="searchOption.keywords"
                               data-ng-keyup="search()">
                    </form>
                </div>
            </div>
        </div>

        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-responsive">
                    <thead>
                    <tr>
                        <th>
                            <div class="th" data-ng-i18next="wms:ui.heading.goodsGroup"></div>
                        </th>
                        <th data-ng-repeat="platformSource in platformSourceMap">
                            <div class="th">{{'wms:ui.label.uniqueCode' | i18next}}
                                {{platformSource.name}}({{sellerGroupListByPlatformSource[platformSource.id].length}})
                            </div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="item in currentPageItems track by $index">
                        <td>{{item.groupName}}</td>
                        <td data-ng-repeat="platformSource in platformSourceMap"
                            data-ng-class="{'warning': !sellerGroupMap[platformSource.id][item.id].uniqueCode}">
                            <form data-ng-submit="updateUniqueCode(sellerGroupMap[platformSource.id][item.id], 'uniqueCode')" >
                                <a href="javascript:;"
                                   data-ng-show="!sellerGroupMap[platformSource.id][item.id][sellerGroupMap[platformSource.id][item.id].id+'uniqueCode']"
                                   data-ng-if="sellerGroupMap[platformSource.id][item.id].id"
                                   data-ng-click="switchNode(sellerGroupMap[platformSource.id][item.id],'uniqueCode',true)"
                                   title="{{'global:ui.button.edit' | i18next}}">
                                    {{sellerGroupMap[platformSource.id][item.id].uniqueCode}}
                                    <span class="ti-pencil"></span>
                                </a>
                                <a href="javascript:;"
                                   data-ng-if="!sellerGroupMap[platformSource.id][item.id].uniqueCode"
                                   data-ng-click="showSellerGoodsMap(platformSource.id,item.id,'uniqueCode')"
                                   title="{{'global:ui.button.edit' | i18next}}">
                                    <span class="ti-pencil"></span>
                                </a>
                                <span data-ng-show="sellerGroupMap[platformSource.id][item.id][sellerGroupMap[platformSource.id][item.id].id+'uniqueCode']">
                                    <input id="inputUniqueCode" data-ng-model="sellerGroupMap[platformSource.id][item.id].uniqueCode" />
                                    <a href="javascript:;" class="ti-save"
                                       data-ng-click="updateUniqueCode(sellerGroupMap[platformSource.id][item.id], 'uniqueCode')"
                                       title="{{'global:ui.button.save' | i18next}}"></a>
                                    <a href="javascript:;" class="ti-close"
                                       data-ng-click="switchNode(sellerGroupMap[platformSource.id][item.id],'uniqueCode',false)"
                                       title="{{'global:ui.button.cancel' | i18next}}"></a>
                                </span>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <footer class="table-footer">
                    <div class="row">
                        <div class="col-md-6 page-num-info">
                    <span>
                        {{'global:ui.pagination.showing' | i18next}}
                        {{filteredItems.length}}/{{availableGoodsGroupList.length}}
                        {{'global:ui.pagination.entries' | i18next}}
                        <select data-ng-model="searchOption.numPerPage"
                                data-ng-options="num for num in numPerPageOpt"
                                data-ng-change="onNumPerPageChange()">
                        </select>
                        {{'global:ui.pagination.entries' | i18next}}
                        {{'global:ui.pagination.perPage' | i18next}}
                    </span>
                        </div>
                        <div class="col-md-6 text-right pagination-container">
                            <uib-pagination class="pagination-sm"
                                            ng-model="currentPage"
                                            total-items="filteredItems.length"
                                            max-size="4"
                                            ng-change="select(currentPage)"
                                            items-per-page="searchOption.numPerPage"
                                            rotate="false"
                                            previous-text="&lsaquo;" next-text="&rsaquo;"
                                            boundary-links="true"></uib-pagination>
                        </div>
                    </div>
                </footer>

            </div>
        </div>
    </section>

</div>