<div class="page" data-ng-controller="WmsSellerMemberCreateCtrl">
    <section class="panel panel-default">
        <div class="panel-footer">
            <span class="glyphicon glyphicon-th"></span>
            <span data-ng-i18next="wms:ui.heading.seller"></span>
            <span data-ng-i18next="wms:ui.heading.member"></span>
            <span data-ng-i18next="global:ui.button.create"></span>
            <a href="#/wms/seller_list" class="ti-arrow-left pull-right"></a>
        </div>
        <div class="panel-body">
            <div class="well">
                <div data-ng-include="'views/wms/partial/member_form.html'"></div>
            </div>
        </div>
    </section>
</div>