<div class="page" data-ng-controller="WmsSellerGoodsIncreaseCtrl">
    <section class="panel panel-default">
        <div class="panel-footer">
            <span class="glyphicon glyphicon-th"></span>
            <span>{{'wms:ui.heading.seller' | i18next}}</span>【{{seller.name}}】
            <span>{{'wms:ui.label.increaseInventory' | i18next}}</span><span>{{'global:ui.label.action' | i18next}}</span>
            <a href="#/wms/seller_goods_edit?id={{sellerGoods.id}}" class="ti-arrow-left pull-right">
                {{'wms:ui.label.backTo' | i18next}}{{'wms:ui.heading.goods' | i18next}}</a>

        </div>
        <div class="panel-body">
            <form class="form-horizontal" data-ng-submit="increaseInventory(sellerGoodsInventoryLog)">
                <div class="form-group">
                    <label class="col-sm-2 control-label"
                           data-ng-i18next="wms:ui.heading.goods"></label>
                    <div class="col-sm-8">
                        <div class="checkbox">
                            {{sellerGoods.name}}
                            <span class="space"></span>
                            <a href="#/wms/seller_combo_goods_detail?id={{sellerGoods.id}}"
                               data-ng-if="sellerGoods.isCombo"
                               class="btn btn-sm btn-line-primary">
                                <span data-ng-i18next="wms:ui.label.comboDetail"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"
                           data-ng-i18next="wms:ui.label.encodeType"></label>
                    <div class="col-sm-8">
                        <div class="checkbox" data-ng-if="sellerGoods.encodeType">
                            {{'wms:ui.statusEnum.encodeType.'+sellerGoods.encodeType | i18next}}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="sellerGoods.inventory" class="col-sm-2 control-label"
                           data-ng-i18next="wms:ui.label.inventory"></label>
                    <div class="col-sm-8">

                        <input class="form-control" id="sellerGoods.inventory" readonly
                               data-ng-if="!sellerGoodsInventoryLog.calcInventory"
                               data-ng-model="sellerGoods.inventory" />

                        <input class="form-control" readonly
                               data-ng-if="sellerGoodsInventoryLog.calcInventory"
                               data-ng-model="sellerGoodsInventoryLog.calcInventory" />
                    </div>
                </div>
                <div class="form-group" >
                    <label for="sellerGoodsInventoryLog.number" class="col-sm-2 control-label"
                           data-ng-i18next="wms:ui.label.increaseInventory"></label>
                    <div class="col-sm-8">
                        <div class="input-group">
                            <span class="input-group-addon ti-plus"></span>
                            <input class="form-control" id="sellerGoodsInventoryLog.number"
                                   data-ng-keyup="calcInventory()"
                                   data-ng-model="sellerGoodsInventoryLog.number" />
                        </div>
                    </div>
                </div>
                <div class="form-group" data-ng-if="sellerGoods.encodeType != 'bar'">
                    <label for="sellerGoodsInventoryLog.batchNumber" class="col-sm-2 control-label"
                           data-ng-i18next="wms:ui.label.batchNumber"></label>
                    <div class="col-sm-8">
                        <input class="form-control" id="sellerGoodsInventoryLog.batchNumber"
                               data-ng-model="sellerGoodsInventoryLog.batchNumber" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="sellerGoodsInventoryLog.reason" class="col-sm-2 control-label"
                           data-ng-i18next="wms:ui.label.reason"></label>
                    <div class="col-sm-8">
                        <input class="form-control" id="sellerGoodsInventoryLog.reason"
                               data-ng-model="sellerGoodsInventoryLog.reason" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8">
                        <button class="btn btn-primary btn-w-md"
                                data-ng-i18next="global:ui.button.save"></button>
                    </div>
                </div>
            </form>
        </div>
    </section>

    <section class="panel panel-info table-dynamic">
        <div class="panel-footer">
            <strong data-ng-i18next="wms:ui.heading.sellerGoodsInventoryLog"></strong>
        </div>
        <table class="table table-bordered table-striped table-responsive">
            <thead>
            <tr>
                <th>
                    <div class="th" data-ng-i18next="global:ui.label.type"></div>
                </th>
                <th>
                    <div class="th" data-ng-i18next="wms:ui.label.number"></div>
                </th>
                <th>
                    <div class="th" data-ng-i18next="wms:ui.label.inventorySnapshot"></div>
                </th>
                <th>
                    <div class="th" data-ng-i18next="wms:ui.label.reason"></div>
                </th>
                <th>
                    <div class="th" data-ng-i18next="wms:ui.heading.member"></div>
                </th>
                <th>
                    <div class="th" data-ng-i18next="wms:ui.label.createdTime"></div>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="item in currentPageItems">
                <td>{{'wms:ui.inventoryLogType.'+item.type | i18next}}</td>
                <td>{{item.number}}</td>
                <td>{{item.inventorySnapshot}}</td>
                <td>{{item.reason}}</td>
                <td>{{memberMap[item.memberId].name}}</td>
                <td>{{item.created}}</td>
            </tr>
            </tbody>
        </table>

        <footer class="table-footer">
            <div class="row">
                <div class="col-md-6 page-num-info">
                    <span>
                        {{'global:ui.pagination.showing' | i18next}}
                        {{filteredItems.length}}/{{sellerGoodsInventoryLogList.length}}
                        {{'global:ui.pagination.entries' | i18next}}
                        <select data-ng-model="numPerPage"
                                data-ng-options="num for num in numPerPageOpt"
                                data-ng-change="onNumPerPageChange()">
                        </select>
                        {{'global:ui.pagination.entries' | i18next}}
                        {{'global:ui.pagination.perPage' | i18next}}
                    </span>
                </div>
                <div class="col-md-6 text-right pagination-container">
                    <uib-pagination class="pagination-sm"
                                    ng-model="currentPage"
                                    total-items="filteredItems.length"
                                    max-size="4"
                                    ng-change="select(currentPage)"
                                    items-per-page="numPerPage"
                                    rotate="false"
                                    previous-text="&lsaquo;" next-text="&rsaquo;"
                                    boundary-links="true"></uib-pagination>
                </div>
            </div>
        </footer>
    </section>

    <section class="panel panel-default table-dynamic" data-ng-if="sellerGoods.encodeType != 'bar'">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-th"></span>
            <span data-ng-i18next="global:ui.heading.moreAction"></span>
        </div>
        <div class="panel-body">
            <a href="#/wms/goods_encode_list?sellerGoodsId={{sellerGoods.id}}" class="btn btn-sm btn-line-primary"
               data-ng-class="{'btn-line-success':sellerGoods.encodeType == 'rfid',
                                       'btn-line-primary':sellerGoods.encodeType == 'unique'}" >
                <span class="glyphicon glyphicon-barcode"></span>
                <span>{{'wms:ui.statusEnum.encodeType.'+sellerGoods.encodeType | i18next}}{{'wms:ui.label.manager' | i18next}}
                                </span>
            </a>
            <span class="space"></span>
            <a href="#/wms/goods_putaway?sellerGoodsId={{sellerGoods.id}}"
               class="btn btn-sm btn-line-primary">
                <span class="glyphicon glyphicon-cloud-upload"></span>
                <span data-ng-i18next="wms:ui.label.goodsPutaway"></span>
            </a>
        </div>
    </section>
</div>
