<div class="page" data-ng-controller="WmsWarehouseDetailCtrl">
    <section class="panel panel-default">
        <div class="panel-footer">
            <span class="glyphicon glyphicon-th"></span>
            <span data-ng-i18next="wms:ui.heading.warehouse"></span>
            <span data-ng-i18next="global:ui.label.detail"></span>
            <a href="#/wms/warehouse_list" class="ti-arrow-left pull-right"></a>
        </div>
        <div class="panel-body" data-ng-include="'views/wms/partial/warehouse_form.html'"></div>
    </section>
</div>