<form class="form-horizontal" data-ng-submit="add(memberRole)">
    <div class="form-group">
        <label for="memberRole.roleId" class="col-sm-2 control-label" data-ng-i18next="wms:ui.heading.role"></label>
        <div class="col-sm-8">
            <select id="memberRole.roleId" class="form-control" data-ng-model="memberRole.roleId"
                    data-ng-options="role.id as role.name for role in roleList">
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-8">
            <button class="btn btn-primary btn-w-md"
                    data-ng-if="memberRole.id"
                    data-ng-i18next="global:ui.button.save"></button>
            <button class="btn btn-primary btn-w-md"
                    data-ng-if="!memberRole.id"
                    data-ng-i18next="global:ui.button.create"></button>
        </div>
    </div>
</form>