<form class="form-horizontal" data-ng-submit="add(order)">
    <a class="glyphicon glyphicon-remove pull-right"
       title="{{'global:ui.button.cancel' | i18next}}"
       data-ng-click="switchCollapse(createOrder)">
    </a>
    <div class="row col-sm-6">
        <div class="form-group">
            <label for="order.orderSn" class="col-sm-4 control-label">
                <span data-ng-i18next="wms:ui.label.orderSn"></span><span class="text-danger">*</span>
            </label>
            <div class="col-sm-8">
                <input class="form-control" id="order.orderSn" data-ng-model="order.orderSn" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">
                <span data-ng-i18next="wms:ui.heading.platformSource"></span><span class="text-danger">*</span>
            </label>
            <div class="col-sm-8">
                <label class="ui-radio" data-ng-repeat="sellerPlatformSource in sellerPlatformSourceList">
                    <input name="radio1" type="radio"
                           value="{{sellerPlatformSource.platformSourceId}}"
                           data-ng-model="order.platformSourceId" >
                    <span>{{platformSourceMap[sellerPlatformSource.platformSourceId].name}}</span>
                </label>
            </div>
        </div>
        <div class="form-group">
            <label for="order.paidPrice" class="col-sm-4 control-label">
                <span data-ng-i18next="wms:ui.label.paidPrice"></span><span class="text-danger">*</span>
            </label>
            <div class="col-sm-8">
                <input class="form-control" id="order.paidPrice" data-ng-model="order.paidPrice" />
            </div>
        </div>
        <div class="form-group">
            <label for="order.totalPrice" class="col-sm-4 control-label">
                <span data-ng-i18next="wms:ui.label.totalPrice"></span>
            </label>
            <div class="col-sm-8">
                <input class="form-control" id="order.totalPrice" data-ng-model="order.totalPrice" />
            </div>
        </div>

        <div class="form-group">
            <label for="order.comment" class="col-sm-4 control-label">
                <span data-ng-i18next="wms:ui.label.comment"></span>
            </label>
            <div class="col-sm-8">
                <textarea name="" id="order.comment" class="form-control" data-ng-model="order.comment" rows="4"></textarea>
            </div>
        </div>
    </div>

    <div class="row col-sm-6">
        <div class="form-group">
            <label for="order.consigneeName" class="col-sm-4 control-label">
                <span data-ng-i18next="wms:ui.label.consigneeName"></span><span class="text-danger">*</span>
            </label>
            <div class="col-sm-8">
                <input class="form-control" id="order.consigneeName" data-ng-model="order.consigneeName" />
            </div>
        </div>

        <div class="form-group">
            <label for="order.phoneNumber" class="col-sm-4 control-label">
                <span data-ng-i18next="wms:ui.label.phoneNumber"></span><span class="text-danger">*</span>
            </label>
            <div class="col-sm-8">
                <input class="form-control" id="order.phoneNumber" data-ng-model="order.phoneNumber" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">
                <span data-ng-i18next="wms:ui.label.province-city-district"></span><span class="text-danger">*</span>
            </label>
            <div class="col-sm-8 checkbox">
                <span>
                    <select class="ui-class" id="province"
                            data-ng-if="provinceList"
                            data-ng-change="order.city == 0;order.district == 0;getCityList(order)"
                            data-ng-model="order.province"
                            data-ng-options="province.id as province.name for province in provinceList">
                    </select>
                    <select class="ui-class" id="city"
                            data-ng-if="cityList"
                            data-ng-model="order.city"
                            data-ng-change="order.district == 0;getDistrictList(order)"
                            data-ng-options="city.id as city.name for city in cityList">
                    </select>
                    <select class="ui-class" id="district"
                            data-ng-if="districtList.length"
                            data-ng-model="order.district"
                            data-ng-options="district.id as district.name for district in districtList">
                    </select>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label for="order.consigneeAddress" class="col-sm-4 control-label">
                <span data-ng-i18next="wms:ui.label.consigneeAddress"></span><span class="text-danger">*</span>
            </label>
            <div class="col-sm-8">
                <input class="form-control" id="order.consigneeAddress" data-ng-model="order.consigneeAddress" />
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-6 col-sm-4 pull-right">
            <a class="btn btn-default btn-md" data-ng-click="switchCollapse(createOrder)">
                <span class="glyphicon glyphicon-remove"></span>
                <span data-ng-i18next="global:ui.button.cancel"></span>
            </a>
            <div class="space"></div>
            <button class="btn btn-primary btn-md ">
                <span class="ti-save"></span>
                {{'global:ui.button.save' | i18next}}{{'wms:ui.heading.order' | i18next}}
            </button>
        </div>
    </div>
</form>

<br>
<div class="divider divider-dashed divider-lg pull-in"></div>

<h3 class="panel-title" data-ng-i18next="global:ui.heading.relatedLink"></h3>
<ul class="list-unstyled">
    <li>
        <a class="btn" href="#/wms/platform_order_upload_list">
            <span data-ng-i18next="wms:ui.heading.platformOrderUpload"></span>
        </a>
    </li>
</ul>