<form class="form-horizontal" data-ng-submit="save(warehouse)">
    <div class="form-group">
        <label for="warehouse.name" class="col-sm-4 control-label" data-ng-i18next="wms:ui.label.name"></label>
        <div class="col-sm-8">
            <input class="form-control" id="warehouse.name" data-ng-model="warehouse.name" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label"
               data-ng-i18next="wms:ui.label.province-city-district"></label>
        <div class="col-sm-8">
            <span>
                    <select class="ui-class" id="province"
                            data-ng-if="provinceList"
                            data-ng-change="warehouse.cityId == 0;warehouse.districtId == 0;getCityList(warehouse)"
                            data-ng-model="warehouse.provinceId"
                            data-ng-options="province.id as province.name for province in provinceList">
                    </select>
                    <select class="ui-class" id="city"
                            data-ng-if="cityList"
                            data-ng-model="warehouse.cityId"
                            data-ng-change="warehouse.districtId == 0;getDistrictList(warehouse)"
                            data-ng-options="city.id as city.name for city in cityList">
                    </select>
                    <select class="ui-class" id="district"
                            data-ng-if="districtList.length"
                            data-ng-model="warehouse.districtId"
                            data-ng-options="district.id as district.name for district in districtList">
                    </select>
            </span>
        </div>
    </div>
    <div class="form-group">
        <label for="warehouse.address" class="col-sm-4 control-label" data-ng-i18next="wms:ui.label.address"></label>
        <div class="col-sm-8">
            <input class="form-control" id="warehouse.address" data-ng-model="warehouse.address" />
        </div>
    </div>
    <div class="form-group" data-ng-if="warehouse.id">
        <label  class="col-sm-4 control-label" data-ng-i18next="wms:ui.label.disabled"></label>
        <div class="col-sm-8">
            <label class="ui-switch ui-switch-danger">
                <input type="checkbox" data-ng-model="warehouse.disabled"><i></i>
            </label>
        </div>
    </div>
    <div class="form-group">
        <label for="warehouse.telephone" class="col-sm-4 control-label" data-ng-i18next="wms:ui.label.telephone"></label>
        <div class="col-sm-8">
            <input class="form-control" id="warehouse.telephone" data-ng-model="warehouse.telephone" />
        </div>
    </div>
    <div class="form-group">
        <label for="warehouse.contact" class="col-sm-4 control-label" data-ng-i18next="wms:ui.label.contact"></label>
        <div class="col-sm-8">
            <input class="form-control" id="warehouse.contact" data-ng-model="warehouse.contact" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8">
            <button class="btn btn-primary btn-w-md"
                    data-ng-if="warehouse.id"
                    data-ng-i18next="global:ui.button.save"></button>
            <button class="btn btn-primary btn-w-md"
                    data-ng-if="!warehouse.id"
                    data-ng-i18next="global:ui.button.create"></button>
        </div>
    </div>
</form>